@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@media (max-width: 500px) {
  .without-carousel {
    display: none;
  }
  .carousel-control-next {
    margin-top: 30px;
  }
  .carousel-control-prev {
    margin-top: 30px;
  }
  .img-carousel {
    margin-bottom: 30px;
    width: 300px;
  }
  .carousel {
    margin-top: 10px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 20%;
  }
  .carousel-inner {
    padding-top: 90px;
    margin-bottom: 50px;
    height: 200px;
  }
}

.merk {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

#navbarDropdown {
  font-family: 'Nunito', sans-serif;
  color: #2470ad;
  font-size: 18px;
}

.icon-buku {
  font-size: 30px;
  color: #2781ca;
}
.btn-kategori {
  color: #0060ae;
  border: none;
  background-color: #fff;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
.searching {
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 21px;
  height: 42px;
  background-color: #f5f5f5;
  font-size: 16px;
  width: 100%;
  padding-left: 20px;
  padding-right: 40px;
  color: #6d6d6d;
  outline: 0 !important;
}
.akun {
  font-size: 30px;
  color: #155183;
  margin-right: 20px;
}

.keranjang {
  font-size: 30px;
  color: #155183;
  margin-right: 50px;
}

.subscribe {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.subscribe-box {
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding-top: 40px;
}

.footer-top {
  background-color: #ccdff5;
  display: flex;
  justify-content: space-around;
}
.daftar {
  align-items: center;
  padding: 0.375rem 0.75rem;
  padding-top: 10px;
  width: 90px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.footer-bottom {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.form-search {
  width: 500px;
}
.carousel {
  padding-top: 90px;
  margin-left: 50px;
  margin-bottom: 40px;
  width: 1250px;
}
.img1 {
  width: 400px;
  height: 260px;
  padding-left: 21px;
  padding-top: 90px;
}
.img1-2 {
  width: 400px;
  height: 180px;
  padding-top: 10px;
  padding-left: 21px;
}

.text-recommend {
  padding-left: 160px;

  font-family: Nunito, serif;
  font-size: 24px;
  font-weight: 700;
  color: #151515;
}
.recommended {
  padding-right: 170px;
  padding-left: 170px;
}

.text-popular {
  padding-left: 160px;
  padding-top: 20px;

  font-family: Nunito, serif;
  font-size: 24px;
  font-weight: 700;
  color: #151515;
}
.popular {
  padding-right: 170px;
  padding-left: 150px;
}
.img-banner1 {
  padding-right: 10px;
}

.text-popular-novel {
  padding-left: 160px;
  padding-top: 50px;

  font-family: Nunito, serif;
  font-size: 24px;
  font-weight: 700;
  color: #151515;
}
.popular-novel {
  padding-right: 170px;
  padding-left: 150px;
  padding-bottom: 40px;
}
.icon-kategori {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  margin-top: 40px;
}
.text-icon {
  font-family: Nunito, serif;
  font-size: 15px;
  font-weight: 700;
  color: #151515;
}

.footer-sosmed {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 5px;

  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.text-footer-sosmed {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
.icon-sosmed {
  margin-right: 30px;
}
.wa-icon {
  width: 100px;
  padding: 20px;
  left: 1260px;
}

/* buku pilihan */
.title-bukupilihan {
  margin-top: 90px;

  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}
.btn-buku {
  padding-right: 200px;

  border-bottom: 1px #151515 solid;
}
.btn-buku2 {
  padding-right: 112px;

  border-bottom: 1px #151515 solid;
}
.btn-buku3 {
  padding-right: 67px;

  border-bottom: 1px #151515 solid;
}

.product-filter {
  display: flex;
  justify-content: space-between;
}
.bi-search {
  position: absolute;
  right: 300px;
  top: 25px;
  color: #6d6d6d;
}
.author-buku1 {
  font-size: 16px;
  line-height: 18px;
  font-family: Nunito, serif;
  color: #6d6d6d;
}
.judul-buku1 {
  font-family: Nunito, serif;
  font-size: 24px;
  color: #151515;
}
.link {
  text-decoration: none;
  color: #151515;
}
.daftar-format {
  flex: 0 0 auto;
  font-family: Nunito, serif;
  font-size: 14px;
  font-weight: 700;

  border-bottom: #cccaca 1px solid;
}
.isi-desc {
  line-height: 24px;
  color: #151515;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: justify;
}
.buku1 {
  justify-content: space-evenly;
}
.detail {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.left-category {
  padding-left: 60px;
  padding-top: 15px;
  padding-right: 35px;

  border-right: 1px solid #ccc;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.right-category {
  padding-left: 35px;

  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.category {
  padding-bottom: 30px;
}
* {
  box-sizing: border-box;
}
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type='text'] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type='submit'] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.text-keranjang {
  padding-top: 100px;
  padding-bottom: 30px;

  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.cart {
  width: 600px;
}
.count-cart {
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 1px;
  font-size: 14px;

  height: 18px;
  width: 18px;
  position: absolute;
  top: 10px;
  right: 65px;
}
.count-cart2 {
  background-color: #ff0000;
  color: #ffffff;
  padding-left: 5px;
  padding-top: 1px;
  font-size: 14px;

  height: 19px;
  width: 26px;
  position: absolute;
  top: 10px;
  right: 60px;
}
.pesanan {
  padding-left: 115px;
}
.title-pesanan {
  padding-left: 10px;

  font-family: 'Nunito', sans-serif;
  font-size: 14px;
}
.price {
  padding-left: 10px;

  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #5a5a5a;
}
.title-detail {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  padding: 30px;
  border-bottom: 1px solid #ccc;
}
.text-detail {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
}
.harga-detail {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  color: #0060ae;
}
.title-checkout {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.alamat {
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 60px;
}
.text-alamat {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.btn-alamat {
  padding-left: 15px;
  padding-bottom: 50px;
}
.text-metode {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.kode-promo {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.total-biaya {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.total-belanja {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}
.biaya-pengiriman {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;

  border-bottom: 1px solid #a5a5a5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* nyoba */
.cat_name {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.cat_name2 {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.cat_name3 {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.cat_name4 {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.cat_name5 {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.cat_name:hover {
  color: #0060ae;
}
.cat_name2:hover {
  color: #0060ae;
}
.cat_name3:hover {
  color: #0060ae;
}
.cat_name4:hover {
  color: #0060ae;
}
.cat_name5:hover {
  color: #0060ae;
}
.category_menu {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
}
.category_menu2 {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  width: 200px;
}
.category_menu > li {
  float: left;
  padding: 9px 10px;
  width: 100%;
  position: relative;
}
.category_menu2 > li {
  float: left;
  padding: 9px 10px;
  width: 100%;
  position: relative;
}
.right_sliding {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 100px;
}
.category_menu li a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
.category_menu > li > ul {
  position: absolute;
  position: absolute;
  right: -200px;
  top: 6px;
}
.category_menu2 li a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
.category_menu2 > li > ul {
  position: absolute;
  position: absolute;
  right: -200px;
  top: 6px;
}
.category_menu > li:hover > ul {
  display: block;
}

.category_menu2 > li > ul {
  display: block;
}
.showpassword {
  padding-left: 385px;
  padding-bottom: 20px;
}
.wabox {
  display: inline-block;
  position: fixed;
  z-index: 999999;
  bottom: 90px;
  right: 5px;
  width: 280px;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
  -o-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.3));
}
.wans {
  position: absolute;
  top: 17px;
  left: 73px;
}
.wabody {
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wafooter {
  padding: 10px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.watxt {
  padding: 15px;
  background: white;
  display: inline-block;
  font-size: 13px;
  margin: 13px 0 10px 17px;
  border-radius: 4px;
  color: black;
}
.wahead {
  background-color: #25d365;
  height: 60px;
}
.btn-close {
  position: absolute;
  left: 258px;
}
.bi-send {
  position: absolute;
  top: 175px;
  left: 210px;
}
.form-pengiriman {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  padding-left: 5px;
  padding-top: 5px;
}
.estimasi {
  font-family: 'Nunito', sans-serif;
  font-size: 13px;

  padding-left: 5px;
}
.text-riwayat-pembelian {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.status-pembayaran {
  margin-left: 10px;
  background-color: yellow;

  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  height: 30px;
  width: 155px;
}
.text-pembelian {
  font-family: 'Nunito', sans-serif;
}
.counting-days {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;

  background-color: #ccdfef;
}
.info-pemesanan {
  font-family: 'Nunito', sans-serif;
}
.rincian-barang {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}
.status-pemesanan {
  background-color: yellow;
  font-size: 13px;

  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}